* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);

}

@font-face {
    font-family: 'Outfit';
    src: url(qr-code-component-main/qr-code-component-main/fonts/Outfit-VariableFont_wght.ttf);
}

body p {
    font-size: 15px;
}

body {
    font-family: Outfit;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all {
    display: flex;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
}

.main {
    background-color: white;
    width: 275px;
    height: 400px;
    margin: 150px 0 0px 50px;
    border-radius: 10px;
    max-width: 4t0px;
    padding: 16px;
}

.qr {
    max-width: 100%;
    border-radius: 10px;
}

p,
h1 {
    background-color: white;
    text-align: center;
}

p {
    color: hsl(220, 15%, 55%);
}

.p1 {
    font-weight: 700;
    margin: 20px 0 10px 0px;
    font-size: 15px;
}

.p2 {
    font-weight: 400;
    opacity: 50%;
}

.main {
    transition: transform .7s;
    box-shadow: 0px 0px 6px 6px rgb(193, 176, 176);
}

.main:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px 7px rgb(193, 176, 176);
    opacity: 1;
}